<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ccd4f869-4f90-4cee-8a23-76804d8060f3/resourceGroups/SmartHomeAPI/providers/Microsoft.Web/sites/smarthomeapi2023</ResourceId>
    <ResourceGroup>SmartHomeAPI</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://smarthomeapi2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0f7546d9-a9ea-4607-a13b-fcf659e7228e</ProjectGuid>
    <PublishUrl>https://smarthomeapi2023.scm.azurewebsites.net/</PublishUrl>
    <UserName>$smarthomeapi2023</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>